{# home view #}
{% extends "blog_base.jinja2"  %}
{%  block show_item %}
    <p>In: Blog_home</p>
    <ul id="blog_listings">
        {# TODO: Need to sort results#}

        {% for post in blog_posts.values() %}
            <li><a href="/entry/{{ post.id }}">{{ post.title }} - {{ post.posted }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}