{# detail view #}
{% extends "blog_base.jinja2"  %}
{%  block show_item %}
{#    <p>In: Blog_detail id passed:</p>#}
{#    <p>{{ post }}</p>#}
    <br />
    <a href="{{ request.route_url('edit', pkey=post.id) }}">&lt;&mdash;Edit</a>
    <p>{{ post.title | markdown | safe }}</p>
    <p>{{ post.text | markdown | safe }}</p>
{% endblock %}